<a href="https://colab.research.google.com/github/aztrax7/python_projects/blob/main/SpeEdLabs_Python_Class_5_(continued).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TURTLE CIRCLE WITH SQUARES ON OUTSIDE AND DOTS AT THE END OF EACH SQUARE

from turtle import *
t=Turtle()
s=Screen()
for i in range(18):
  t.circle(80,20)
  t.dot(10)
  for j in range(4):
    t.left(-90)
    t.forward(20)

In [ ]:
#Print this output:
   #Value of i: 0
   #0 1 2 3 4 5 6 7 8 9
   #Value of i: 1
   #0 1 2 3 4 5 6 7 8 9
   #Value of i: 2
   #0 1 2 3 4 5 6 7 8 9
   #Value of i: 3
   #0 1 2 3 4 5 6 7 8 9
   #Value of i: 4
   #0 1 2 3 4 5 6 7 8 9
   #Value of i: 5
   #0 1 2 3 4 5 6 7 8 9

x = int(input("Enter value of i: "))
for i in range(x+1):
  print("Value of i:", i)
  for j in range(10):
    print(j)

In [ ]:
print("MULTIPLICATION TABLES FROM n TO 10")

n = int(input("Enter the starting number (n): "))

for i in range(n, 11):  # from n to 10 (inclusive)
    print(f"\nMultiplication Table of {i}")
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}")