<a href="https://colab.research.google.com/github/Aztrax9/python_projects/blob/main/SpeEdLabs_Python_Class_5_(continued).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TURTLE CIRCLE WITH SQUARES ON OUTSIDE AND DOTS AT THE END OF EACH SQUARE

from turtle import *
t=Turtle()
s=Screen()
for i in range(18):
  t.circle(80,20)
  t.dot(10)
  for j in range(4):
    t.left(-90)
    t.forward(20)

In [ ]:
#Print this output:
   #Value of i: 0
   #0 1 2 3 4 5 6 7 8 9
   #Value of i: 1
   #0 1 2 3 4 5 6 7 8 9
   #Value of i: 2
   #0 1 2 3 4 5 6 7 8 9
   #Value of i: 3
   #0 1 2 3 4 5 6 7 8 9
   #Value of i: 4
   #0 1 2 3 4 5 6 7 8 9
   #Value of i: 5
   #0 1 2 3 4 5 6 7 8 9

x = int(input("Enter value of i: "))
for i in range(x+1):
  print("Value of i:", i)
  for j in range(10):
    print(j)

In [2]:
#MULTIPLICATION TABLE OF NUMBERS 2-10
print("MULTIPLICATION TABLE")

n = int(input("Enter n: "))
m = int(input("Enter m: "))
x = 1

for i in range(n,m):
  for j in range(1,11):
    x = n*j
    print(n, "*", j, "=", x)
  print("\n")

MULTIPLICATION TABLE
Enter n: 5
Enter m: 10
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50